-- =============================================
-- SISTEMA DE FIRMADO DIGITAL DE DOCUMENTOS
-- Base de Datos: Firmador
-- =============================================

USE master;
GO

IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = 'Firmador')
    CREATE DATABASE Firmador;
GO

USE Firmador;
GO

-- =============================================
-- DROP TABLAS EN ORDEN INVERSO
-- =============================================
IF OBJECT_ID('dbo.FIR_FirmaDigital', 'U') IS NOT NULL DROP TABLE dbo.FIR_FirmaDigital;
IF OBJECT_ID('dbo.FIR_VersionDocumento', 'U') IS NOT NULL DROP TABLE dbo.FIR_VersionDocumento;
IF OBJECT_ID('dbo.FIR_DocumentoAuditoria', 'U') IS NOT NULL DROP TABLE dbo.FIR_DocumentoAuditoria;
IF OBJECT_ID('dbo.FIR_Observacion', 'U') IS NOT NULL DROP TABLE dbo.FIR_Observacion;
IF OBJECT_ID('dbo.FIR_Conformidad', 'U') IS NOT NULL DROP TABLE dbo.FIR_Conformidad;
IF OBJECT_ID('dbo.FIR_DocumentoRevisor', 'U') IS NOT NULL DROP TABLE dbo.FIR_DocumentoRevisor;
IF OBJECT_ID('dbo.FIR_DocumentoFirmante', 'U') IS NOT NULL DROP TABLE dbo.FIR_DocumentoFirmante;
IF OBJECT_ID('dbo.FIR_Documento', 'U') IS NOT NULL DROP TABLE dbo.FIR_Documento;
IF OBJECT_ID('dbo.FIR_UsuarioRol', 'U') IS NOT NULL DROP TABLE dbo.FIR_UsuarioRol;
IF OBJECT_ID('dbo.FIR_UsuarioPrueba', 'U') IS NOT NULL DROP TABLE dbo.FIR_UsuarioPrueba;
IF OBJECT_ID('dbo.FIR_Maestro', 'U') IS NOT NULL DROP TABLE dbo.FIR_Maestro;
GO

-- =============================================
-- 1. TABLA MAESTRO
-- =============================================
CREATE TABLE dbo.FIR_Maestro (
    IDMaestro    INT          IDENTITY(1,1) NOT NULL,
    Tipo         VARCHAR(50)  NOT NULL,
    Codigo       VARCHAR(20)  NOT NULL,
    Descripcion  VARCHAR(100) NOT NULL,
    Orden        INT          NOT NULL DEFAULT 0,
    Activo       BIT          NOT NULL DEFAULT 1,
    IDUsuarioCreador VARCHAR(15) NOT NULL DEFAULT 'SISTEMA',
    FechaCreacion    SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15) NULL,
    FechaModificacion    SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_Maestro PRIMARY KEY (IDMaestro),
    CONSTRAINT uq_FIR_Maestro_TipoCodigo UNIQUE (Tipo, Codigo)
);
GO

-- =============================================
-- 2. TABLA USUARIO PRUEBA
-- =============================================
CREATE TABLE dbo.FIR_UsuarioPrueba (
    IDUsuarioPrueba   INT          IDENTITY(1,1) NOT NULL,
    LoginUsuario      VARCHAR(15)  NOT NULL,
    NombreCompleto    VARCHAR(200) NOT NULL,
    Email             VARCHAR(200) NOT NULL,
    CodigoRol         VARCHAR(20)  NOT NULL DEFAULT 'REGISTRADOR',
    Activo            BIT          NOT NULL DEFAULT 1,
    IDUsuarioCreador  VARCHAR(15)  NOT NULL DEFAULT 'SISTEMA',
    FechaCreacion     SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15) NULL,
    FechaModificacion SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_UsuarioPrueba PRIMARY KEY (IDUsuarioPrueba),
    CONSTRAINT uq_FIR_UsuarioPrueba_Login UNIQUE (LoginUsuario)
);
GO

-- =============================================
-- 3. TABLA USUARIO ROL
-- =============================================
CREATE TABLE dbo.FIR_UsuarioRol (
    IDUsuarioRol      INT          IDENTITY(1,1) NOT NULL,
    LoginUsuario      VARCHAR(15)  NOT NULL,
    CodigoRol         VARCHAR(20)  NOT NULL,
    Activo            BIT          NOT NULL DEFAULT 1,
    IDUsuarioCreador  VARCHAR(15)  NOT NULL DEFAULT 'SISTEMA',
    FechaCreacion     SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15) NULL,
    FechaModificacion SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_UsuarioRol PRIMARY KEY (IDUsuarioRol),
    CONSTRAINT uq_FIR_UsuarioRol_Login UNIQUE (LoginUsuario),
    CONSTRAINT ch_FIR_UsuarioRol_Rol CHECK (CodigoRol IN ('ADMIN', 'REGISTRADOR', 'REVISOR', 'FIRMADOR'))
);
GO

-- =============================================
-- 4. TABLA DOCUMENTO
-- =============================================
CREATE TABLE dbo.FIR_Documento (
    IDDocumento        INT           IDENTITY(1,1) NOT NULL,
    Asunto             VARCHAR(300)  NOT NULL,
    CodigoTipoDocumento VARCHAR(20)  NOT NULL,
    AreaResponsable    VARCHAR(150)  NOT NULL,
    FechaDocumento     DATE          NOT NULL,
    CodigoDocumento    VARCHAR(50)   NOT NULL,
    RutaArchivoPDF     VARCHAR(500)  NOT NULL,
    IDArchivoPDF       INT           NULL,
    CodigoEstado       VARCHAR(20)   NOT NULL DEFAULT 'REG',
    Version            INT           NOT NULL DEFAULT 1,
    Orientacion        CHAR(1)       NOT NULL DEFAULT 'V',
    LoginRegistrador   VARCHAR(15)   NOT NULL,
    IDUsuarioCreador   VARCHAR(15)   NOT NULL,
    FechaCreacion      SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15) NULL,
    FechaModificacion  SMALLDATETIME NULL,
    FechaUltimaAccion  SMALLDATETIME NULL,
    FechaLimiteRevision SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_Documento PRIMARY KEY (IDDocumento),
    CONSTRAINT uq_FIR_Documento_Codigo UNIQUE (CodigoDocumento),
    CONSTRAINT ch_FIR_Documento_Orientacion CHECK (Orientacion IN ('V', 'H'))
);
GO

-- =============================================
-- 5. TABLA DOCUMENTO FIRMANTE
-- =============================================
CREATE TABLE dbo.FIR_DocumentoFirmante (
    IDDocumentoFirmante INT           IDENTITY(1,1) NOT NULL,
    IDDocumento         INT           NOT NULL,
    LoginUsuario        VARCHAR(15)   NOT NULL,
    NombreFirmante      VARCHAR(200)  NOT NULL,
    CorreoFirmante      VARCHAR(200)  NOT NULL,
    OrdenFirma          INT           NOT NULL,
    CodigoRolFirmante   VARCHAR(20)   NOT NULL DEFAULT 'VB',
    CodigoEstadoFirma   VARCHAR(20)   NOT NULL DEFAULT 'PEN',
    Habilitado          BIT           NOT NULL DEFAULT 0,
    FechaFirma          SMALLDATETIME NULL,
    RutaFirmaParcial    VARCHAR(500)  NULL,
    Comentario          VARCHAR(500)  NULL,
    EsAprobado          BIT           NULL,
    IDUsuarioCreador    VARCHAR(15)   NOT NULL,
    FechaCreacion       SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15)  NULL,
    FechaModificacion   SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_DocumentoFirmante PRIMARY KEY (IDDocumentoFirmante),
    CONSTRAINT fk_FIR_DocumentoFirmante_Documento FOREIGN KEY (IDDocumento) REFERENCES dbo.FIR_Documento(IDDocumento),
    CONSTRAINT ch_FIR_DocumentoFirmante_Estado CHECK (CodigoEstadoFirma IN ('PEN', 'FIR', 'OBS')),
    CONSTRAINT ch_FIR_DocumentoFirmante_Rol CHECK (CodigoRolFirmante IN ('AUT', 'CON', 'VB'))
);
GO

-- =============================================
-- 6. TABLA DOCUMENTO REVISOR
-- =============================================
CREATE TABLE dbo.FIR_DocumentoRevisor (
    IDDocumentoRevisor  INT           IDENTITY(1,1) NOT NULL,
    IDDocumento         INT           NOT NULL,
    LoginUsuario        VARCHAR(15)   NOT NULL,
    NombreRevisor       VARCHAR(200)  NOT NULL,
    CorreoRevisor       VARCHAR(200)  NOT NULL,
    DiasMaxRevision     INT           NOT NULL DEFAULT 3,
    FechaLimite         SMALLDATETIME NULL,
    Completado          BIT           NOT NULL DEFAULT 0,
    CodigoResultado     VARCHAR(20)   NULL,
    FechaRevision       SMALLDATETIME NULL,
    Version             INT           NOT NULL DEFAULT 1,
    IDUsuarioCreador    VARCHAR(15)   NOT NULL,
    FechaCreacion       SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15)  NULL,
    FechaModificacion   SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_DocumentoRevisor PRIMARY KEY (IDDocumentoRevisor),
    CONSTRAINT fk_FIR_DocumentoRevisor_Documento FOREIGN KEY (IDDocumento) REFERENCES dbo.FIR_Documento(IDDocumento),
    CONSTRAINT ch_FIR_DocumentoRevisor_Resultado CHECK (CodigoResultado IN ('CONF', 'OBS', NULL))
);
GO

-- =============================================
-- 7. TABLA VERSION DOCUMENTO
-- =============================================
CREATE TABLE dbo.FIR_VersionDocumento (
    IDVersion         INT           IDENTITY(1,1) NOT NULL,
    IDDocumento       INT           NOT NULL,
    NumeroVersion     INT           NOT NULL,
    RutaArchivo       VARCHAR(500)  NOT NULL,
    IDArchivoVersion  INT           NULL,
    Motivo            VARCHAR(500)  NULL,
    IDUsuarioCreador  VARCHAR(15)   NOT NULL,
    FechaCreacion     SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15) NULL,
    FechaModificacion SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_VersionDocumento PRIMARY KEY (IDVersion),
    CONSTRAINT fk_FIR_VersionDocumento_Documento FOREIGN KEY (IDDocumento) REFERENCES dbo.FIR_Documento(IDDocumento)
);
GO

-- =============================================
-- 8. TABLA CONFORMIDAD
-- =============================================
CREATE TABLE dbo.FIR_Conformidad (
    IDConformidad     INT           IDENTITY(1,1) NOT NULL,
    IDDocumento       INT           NOT NULL,
    LoginUsuario      VARCHAR(15)   NOT NULL,
    NombreRevisor     VARCHAR(200)  NOT NULL,
    Comentario        VARCHAR(1000) NOT NULL DEFAULT 'CONFORME',
    Version           INT           NOT NULL DEFAULT 1,
    IDUsuarioCreador  VARCHAR(15)   NOT NULL,
    FechaCreacion     SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15) NULL,
    FechaModificacion SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_Conformidad PRIMARY KEY (IDConformidad),
    CONSTRAINT fk_FIR_Conformidad_Documento FOREIGN KEY (IDDocumento) REFERENCES dbo.FIR_Documento(IDDocumento)
);
GO

-- =============================================
-- 9. TABLA OBSERVACION
-- =============================================
CREATE TABLE dbo.FIR_Observacion (
    IDObservacion     INT           IDENTITY(1,1) NOT NULL,
    IDDocumento       INT           NOT NULL,
    LoginUsuario      VARCHAR(15)   NOT NULL,
    NombreRevisor     VARCHAR(200)  NOT NULL,
    Descripcion       VARCHAR(2000) NOT NULL,
    Version           INT           NOT NULL DEFAULT 1,
    IDUsuarioCreador  VARCHAR(15)   NOT NULL,
    FechaCreacion     SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15) NULL,
    FechaModificacion SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_Observacion PRIMARY KEY (IDObservacion),
    CONSTRAINT fk_FIR_Observacion_Documento FOREIGN KEY (IDDocumento) REFERENCES dbo.FIR_Documento(IDDocumento)
);
GO

-- =============================================
-- 10. TABLA DOCUMENTO AUDITORIA
-- =============================================
CREATE TABLE dbo.FIR_DocumentoAuditoria (
    IDDocumentoAuditoria INT           IDENTITY(1,1) NOT NULL,
    IDDocumento          INT           NULL,
    IDUsuario            VARCHAR(15)   NOT NULL,
    NombreUsuario        VARCHAR(200)  NULL,
    IDEquipo             VARCHAR(50)   NULL,
    TipoOperacion        CHAR(1)       NULL,
    TipoAccion           VARCHAR(100)  NOT NULL,
    Descripcion          VARCHAR(1000) NULL,
    FechaCambio          SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    CONSTRAINT pk_FIR_DocumentoAuditoria PRIMARY KEY (IDDocumentoAuditoria),
    CONSTRAINT fk_FIR_DocumentoAuditoria_Documento FOREIGN KEY (IDDocumento) REFERENCES dbo.FIR_Documento(IDDocumento),
    CONSTRAINT ch_FIR_DocumentoAuditoria_TipoOp CHECK (TipoOperacion IN ('I', 'M', 'E', NULL))
);
GO

-- =============================================
-- 11. TABLA FIRMA DIGITAL
-- =============================================
CREATE TABLE dbo.FIR_FirmaDigital (
    IDFirmaDigital       INT           IDENTITY(1,1) NOT NULL,
    IDDocumento          INT           NOT NULL,
    IDDocumentoFirmante  INT           NOT NULL,
    HashFirma            VARCHAR(500)  NOT NULL,
    CertificadoSN        VARCHAR(200)  NULL,
    CertificadoDNI       VARCHAR(20)   NULL,
    MotivoFirma          VARCHAR(300)  NULL,
    FirmaValida          BIT           NOT NULL DEFAULT 0,
    RespuestaMotorFirma  VARCHAR(2000) NULL,
    RutaPDFFirmado       VARCHAR(500)  NULL,
    IDArchivoPDFFirmado  INT           NULL,
    IDUsuarioCreador     VARCHAR(15)   NOT NULL,
    FechaCreacion        SMALLDATETIME NOT NULL DEFAULT GETDATE(),
    IDUsuarioModificador VARCHAR(15)   NULL,
    FechaModificacion    SMALLDATETIME NULL,
    CONSTRAINT pk_FIR_FirmaDigital PRIMARY KEY (IDFirmaDigital),
    CONSTRAINT fk_FIR_FirmaDigital_Documento FOREIGN KEY (IDDocumento) REFERENCES dbo.FIR_Documento(IDDocumento),
    CONSTRAINT fk_FIR_FirmaDigital_Firmante FOREIGN KEY (IDDocumentoFirmante) REFERENCES dbo.FIR_DocumentoFirmante(IDDocumentoFirmante)
);
GO

-- =============================================
-- DATOS SEMILLA - FIR_Maestro
-- =============================================
GO

-- =============================================
-- DATOS SEMILLA - FIR_UsuarioPrueba
-- =============================================
INSERT INTO dbo.FIR_UsuarioPrueba (LoginUsuario, NombreCompleto, Email, CodigoRol) VALUES
('admin01', 'Administrador Sistema', 'admin@zofratacna.com.pe', 'ADMIN'),
('reg01', 'Registrador Uno', 'reg01@zofratacna.com.pe', 'REGISTRADOR'),
('firm01', 'Firmador Uno', 'firm01@zofratacna.com.pe', 'FIRMADOR'),
('firm02', 'Firmador Dos', 'firm02@zofratacna.com.pe', 'FIRMADOR');
GO

-- =============================================
-- DATOS SEMILLA - FIR_UsuarioRol
-- =============================================
INSERT INTO dbo.FIR_UsuarioRol (LoginUsuario, CodigoRol) VALUES
('admin01', 'ADMIN'),
('reg01', 'REGISTRADOR'),
('firm01', 'FIRMADOR'),
('firm02', 'FIRMADOR');
GO

-- =============================================
-- PROCEDIMIENTO: Registrar Documento
-- =============================================
IF OBJECT_ID('dbo.USP_FIR_Documento_Registrar', 'P') IS NOT NULL DROP PROCEDURE dbo.USP_FIR_Documento_Registrar;
GO
CREATE PROCEDURE dbo.USP_FIR_Documento_Registrar
    @Asunto VARCHAR(300),
    @CodigoTipoDocumento VARCHAR(20),
    @AreaResponsable VARCHAR(150),
    @FechaDocumento DATE,
    @CodigoDocumento VARCHAR(50),
    @RutaArchivoPDF VARCHAR(500),
    @LoginRegistrador VARCHAR(15),
    @IDEquipo VARCHAR(50),
    @JsonFirmantes NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @FechaActual SMALLDATETIME = GETDATE();
        DECLARE @IDDocumento INT;
        DECLARE @Version INT = 1;

        -- Insertar Documento
        INSERT INTO FIR_Documento
            (Asunto, CodigoTipoDocumento, AreaResponsable, FechaDocumento,
             CodigoDocumento, RutaArchivoPDF, CodigoEstado, Version,
             LoginRegistrador, IDUsuarioCreador, FechaCreacion, FechaUltimaAccion)
        VALUES
            (@Asunto, @CodigoTipoDocumento, @AreaResponsable, @FechaDocumento,
             @CodigoDocumento, @RutaArchivoPDF, 'EN_REV', @Version,
             @LoginRegistrador, @LoginRegistrador, @FechaActual, @FechaActual);

        SET @IDDocumento = SCOPE_IDENTITY();

        -- Insertar Versión
        INSERT INTO FIR_VersionDocumento (IDDocumento, NumeroVersion, RutaArchivo, Motivo, IDUsuarioCreador, FechaCreacion)
        VALUES (@IDDocumento, @Version, @RutaArchivoPDF, 'Version inicial', @LoginRegistrador, @FechaActual);

        -- Insertar Firmantes
        INSERT INTO FIR_DocumentoFirmante
            (IDDocumento, LoginUsuario, NombreFirmante, CorreoFirmante, OrdenFirma,
             CodigoRolFirmante, CodigoEstadoFirma, Habilitado, IDUsuarioCreador, FechaCreacion)
        SELECT
            @IDDocumento,
            JSON_VALUE(value, '$.IDUsuarioFirmante'),
            JSON_VALUE(value, '$.NombreFirmante'),
            JSON_VALUE(value, '$.CorreoFirmante'),
            CAST(JSON_VALUE(value, '$.Orden') AS INT),
            ISNULL(JSON_VALUE(value, '$.CodigoRol'), 'VB'),
            'PEN', 0, @LoginRegistrador, @FechaActual
        FROM OPENJSON(@JsonFirmantes);

        -- Insertar Auditoría
        INSERT INTO FIR_DocumentoAuditoria
            (IDDocumento, IDUsuario, IDEquipo, TipoOperacion, TipoAccion, Descripcion, FechaCambio)
        VALUES
            (@IDDocumento, @LoginRegistrador, @IDEquipo, 'I', 'REGISTRO',
             'Documento registrado. Estado: En Revision', @FechaActual);

        COMMIT TRAN;
        SELECT @IDDocumento AS IDDocumento;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END;
GO

-- =============================================
-- PROCEDIMIENTO: Firmar Documento
-- =============================================
IF OBJECT_ID('dbo.USP_FIR_Documento_Firmar', 'P') IS NOT NULL DROP PROCEDURE dbo.USP_FIR_Documento_Firmar;
GO
CREATE PROCEDURE dbo.USP_FIR_Documento_Firmar
    @IDDocumentoFirmante INT,
    @SerieToken VARCHAR(100),
    @HuellaCertificado VARCHAR(200),
    @Observacion VARCHAR(500),
    @IDUsuarioModificador VARCHAR(15),
    @IDEquipo VARCHAR(50),
    @RutaPDFFirmado VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRAN;

        DECLARE @FechaActual SMALLDATETIME = GETDATE();
        DECLARE @IDDocumento INT;
        DECLARE @OrdenActual INT;
        DECLARE @TotalFirmantes INT;
        DECLARE @Firmados INT;

        SELECT @IDDocumento = IDDocumento, @OrdenActual = OrdenFirma
        FROM FIR_DocumentoFirmante
        WHERE IDDocumentoFirmante = @IDDocumentoFirmante;

        -- Actualizar Firma
        UPDATE FIR_DocumentoFirmante
        SET CodigoEstadoFirma = 'FIR',
            FechaFirma = @FechaActual,
            Comentario = @Observacion,
            IDUsuarioModificador = @IDUsuarioModificador,
            FechaModificacion = @FechaActual
        WHERE IDDocumentoFirmante = @IDDocumentoFirmante;

        -- Verificar si todos firmaron
        SELECT @TotalFirmantes = COUNT(*) FROM FIR_DocumentoFirmante WHERE IDDocumento = @IDDocumento;
        SELECT @Firmados = COUNT(*) FROM FIR_DocumentoFirmante WHERE IDDocumento = @IDDocumento AND CodigoEstadoFirma = 'FIR';

        IF @Firmados = @TotalFirmantes
        BEGIN
            UPDATE FIR_Documento
            SET CodigoEstado = 'FIRM_COM',
                RutaArchivoPDF = ISNULL(@RutaPDFFirmado, RutaArchivoPDF),
                FechaUltimaAccion = @FechaActual,
                IDUsuarioModificador = @IDUsuarioModificador,
                FechaModificacion = @FechaActual
            WHERE IDDocumento = @IDDocumento;
        END
        ELSE
        BEGIN
            UPDATE FIR_Documento
            SET CodigoEstado = 'FPAR',
                FechaUltimaAccion = @FechaActual,
                IDUsuarioModificador = @IDUsuarioModificador,
                FechaModificacion = @FechaActual
            WHERE IDDocumento = @IDDocumento;

            -- Habilitar siguiente firmante
            UPDATE FIR_DocumentoFirmante
            SET Habilitado = 1
            WHERE IDDocumento = @IDDocumento AND OrdenFirma = @OrdenActual + 1;
        END

        -- Insertar Auditoría
        INSERT INTO FIR_DocumentoAuditoria
            (IDDocumento, IDUsuario, IDEquipo, TipoOperacion, TipoAccion, Descripcion, FechaCambio)
        VALUES
            (@IDDocumento, @IDUsuarioModificador, @IDEquipo, 'M', 'FIRMA_REGISTRADA',
             'Firma registrada para orden ' + CAST(@OrdenActual AS VARCHAR), @FechaActual);

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
        THROW;
    END CATCH
END;
GO

-- =============================================
-- PROCEDIMIENTO: Listar Documentos por Registrador
-- =============================================
IF OBJECT_ID('dbo.USP_FIR_Documento_ListarPorRegistrador', 'P') IS NOT NULL DROP PROCEDURE dbo.USP_FIR_Documento_ListarPorRegistrador;
GO
CREATE PROCEDURE dbo.USP_FIR_Documento_ListarPorRegistrador
    @LoginRegistrador VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        d.IDDocumento, d.Asunto, d.CodigoDocumento,
        d.AreaResponsable, d.FechaDocumento,
        d.CodigoEstado, d.Version,
        m.Descripcion AS Estado,
        t.Descripcion AS TipoDocumento,
        d.RutaArchivoPDF,
        d.FechaCreacion
    FROM FIR_Documento d
    LEFT JOIN FIR_Maestro m ON m.Tipo = 'ESTADO_DOC' AND m.Codigo = d.CodigoEstado
    LEFT JOIN FIR_Maestro t ON t.Tipo = 'TIPO_DOC' AND t.Codigo = d.CodigoTipoDocumento
    WHERE d.LoginRegistrador = @LoginRegistrador
    ORDER BY d.FechaCreacion DESC;
END;
GO

-- =============================================
-- PROCEDIMIENTO: Listar Documentos Pendientes de Firma
-- =============================================
IF OBJECT_ID('dbo.USP_FIR_Documento_ListarFirmaPendiente', 'P') IS NOT NULL DROP PROCEDURE dbo.USP_FIR_Documento_ListarFirmaPendiente;
GO
CREATE PROCEDURE dbo.USP_FIR_Documento_ListarFirmaPendiente
    @LoginUsuario VARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        d.IDDocumento, d.Asunto, d.CodigoDocumento,
        d.AreaResponsable, d.FechaDocumento,
        d.CodigoEstado,
        df.IDDocumentoFirmante, df.OrdenFirma, df.CodigoEstadoFirma,
        d.RutaArchivoPDF,
        CASE
            WHEN NOT EXISTS (
                SELECT 1 FROM FIR_DocumentoFirmante f2
                WHERE f2.IDDocumento = df.IDDocumento
                  AND f2.OrdenFirma < df.OrdenFirma
                  AND f2.CodigoEstadoFirma <> 'FIR'
            ) THEN 1 ELSE 0
        END AS EsMiTurno
    FROM FIR_DocumentoFirmante df
    INNER JOIN FIR_Documento d ON d.IDDocumento = df.IDDocumento
    WHERE df.LoginUsuario = @LoginUsuario
      AND df.CodigoEstadoFirma = 'PEN'
      AND d.CodigoEstado IN ('APR_FIRMA', 'EN_FIRMA', 'FPAR')
    ORDER BY df.OrdenFirma ASC, d.FechaCreacion ASC;
END;
GO

-- =============================================
-- PROCEDIMIENTO: Listar Usuarios Firmantes
-- =============================================
IF OBJECT_ID('dbo.USP_FIR_UsuariosFirmantes_Listar', 'P') IS NOT NULL DROP PROCEDURE dbo.USP_FIR_UsuariosFirmantes_Listar;
GO
CREATE PROCEDURE dbo.USP_FIR_UsuariosFirmantes_Listar
    @Tipo VARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SELECT LoginUsuario, NombreCompleto, Email, CodigoRol
    FROM FIR_UsuarioPrueba
    WHERE Activo = 1 AND CodigoRol = 'FIRMADOR'
    ORDER BY NombreCompleto;
END;
GO

-- =============================================
-- VISTA: Documentos Pendientes
-- =============================================
IF OBJECT_ID('dbo.FIR_VW_DocumentosPendientes', 'V') IS NOT NULL DROP VIEW dbo.FIR_VW_DocumentosPendientes;
GO
CREATE VIEW dbo.FIR_VW_DocumentosPendientes AS
SELECT
    d.IDDocumento, d.Asunto, d.CodigoDocumento,
    d.AreaResponsable, d.FechaDocumento,
    d.IDUsuarioCreador, d.CodigoEstado, d.Version,
    m.Descripcion AS EstadoDocumento,
    t.Descripcion AS TipoDocumento,
    d.RutaArchivoPDF,
    d.FechaCreacion
FROM FIR_Documento d
LEFT JOIN FIR_Maestro m ON m.Tipo = 'ESTADO_DOC' AND m.Codigo = d.CodigoEstado
LEFT JOIN FIR_Maestro t ON t.Tipo = 'TIPO_DOC' AND t.Codigo = d.CodigoTipoDocumento;
GO

PRINT 'Base de datos Firmador creada exitosamente';
GO
-- =============================================
-- TABLA: Unidades Orgánicas
-- =============================================
IF OBJECT_ID('dbo.FIR_UnidadOrganica', 'U') IS NOT NULL DROP TABLE dbo.FIR_UnidadOrganica;
GO
CREATE TABLE dbo.FIR_UnidadOrganica (
    IDUnidadOrganica INT PRIMARY KEY,
    Descripcion NVARCHAR(255) NOT NULL,
    Abreviatura NVARCHAR(50),
    CodigoUnidadOrganica NVARCHAR(50)
);
GO

INSERT INTO dbo.FIR_UnidadOrganica (IDUnidadOrganica, Descripcion, Abreviatura, CodigoUnidadOrganica) VALUES (164, 'GERENCIA GENERAL', 'GG', '2000');
INSERT INTO dbo.FIR_UnidadOrganica (IDUnidadOrganica, Descripcion, Abreviatura, CodigoUnidadOrganica) VALUES (289, 'Area de Fiscalización', 'AFIS', '2200');
INSERT INTO dbo.FIR_UnidadOrganica (IDUnidadOrganica, Descripcion, Abreviatura, CodigoUnidadOrganica) VALUES (385, 'Unidad de Relaciones Públicas e Imagen Institucional', 'URPII', '2300');
GO

